<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuwen.mybaits.StudentMapper">

	<!-- 解决数据库列名和java对象属性名不一致的情况 select通过resultMap引用 -->
	<resultMap type="com.yuwen.mybaits.StudentModel"
		id="studentMap">
		<id property="student_id" column="student_id" />
		<result property="name" column="name" />
	</resultMap>

	<!-- sql片段 其他地方通过include 的refid调用 -->
	<sql id="sqlTest">
		student_id,name,age,create_time
	</sql>


	<!-- #{} 字符串占位符 ${} 字符串拼接指令 -->
	<!-- 动态代理规则 1.namespace=接口名 2.id=方法名3.parameterType=接口参数类型 4.resultType 
		返回值类型 -->

	<select id="getStudentById"
		resultType="com.yuwen.mybaits.StudentModel" parameterType="int">
		select *
		from ts_student where student_id=#{id}
	</select>

	<select id="getStudentByName"
		resultType="com.yuwen.mybaits.StudentModel" parameterType="String">
		select *
		from ts_student
		where 1=1
		<!-- 这里也可以使用where标签包裹起来 -->
		<if test="value!=null and value!=''">
			and name like '%${value}%'
		</if>
	</select>

	<!-- 传入参数为数组接口方法定义为： getStudentByIds(@Param("ids") List<Integer> ids)，多个参数贴多个标签 -->
	<select id="getStudentByIds"
		resultType="com.yuwen.mybaits.StudentModel">
		select * from ts_student where student_id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="item">
			#{item}
		</foreach>
	</select>


	<!-- 一对一关联查询 -->
	<resultMap type="com.yuwen.mybaits.poco.Order"
		id="order_student_map">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="studentId" column="student_id" />
		<result property="address" column="address" />
		<result property="createTime" column="create_time" />
		<association property="student">
			<id property="studentId" column="student_id" />
			<result property="name" column="sname" />
			<result property="age" column="age" />
		</association>
	</resultMap>

	<select id="GetOrderWithStudent" resultMap="order_student_map">
		select

		a.student_id,
		a.name sname,
		a.age,
		b.id,
		b.name,
		b.create_time,
		b.address
		from ts_student a,ts_order b
		where a.student_id=b.student_id
	</select>

	<!-- 一对多查询 注意collection中要设置ofType-->
	<resultMap type="com.yuwen.mybaits.poco.Student"
		id="student_order_map">
		<id property="studentId" column="student_id" />
		<result property="name" column="sname" />
		<result property="age" column="age" />
		<result property="createTime" column="create_time" />
		<collection property="orders" ofType="com.yuwen.mybaits.poco.Order">
			<id property="id" column="id" />
			<result property="name" column="name" />
			<result property="studentId" column="student_id" />
			<result property="address" column="address" />
			<result property="createTime" column="ocreate_time" />
		</collection>
	</resultMap>
	
		<select id="GetStudentWithOrder" resultMap="student_order_map">
		select
		a.student_id,
		a.name sname,
		a.age,
		a.create_time,
		b.id,
		b.name,
		b.create_time ocreate_time,
		b.address
		from ts_student a,ts_order b
		where a.student_id=b.student_id
	</select>

</mapper>